/* src/assets/theme.css */
:root {
    /* 亮色默认 */
    /*--color-canvas: 248 247 245;*/
    --color-canvas: red;
    --color-sidebar: 252 251 249;
    --color-navbar: 255 255 255;
    --color-content: 255 255 255;
    --color-fg: 28 28 28;
    --color-muted: 95 95 95;
    --color-heading: 20 20 20;
    --color-primary: 59 130 246;
    --color-primary-hover: 37 99 235;
    --color-primary-active: 29 78 216;
    --color-secondary: 243 244 246;
    --color-secondary-hover: 229 231 235;
    --color-selected: 239 246 255;
    --color-stroke: 229 231 235;
    --color-success: 16 185 129;
}

.dark {
    /* 暗色变量 */
    --color-canvas: 15 16 18;
    --color-sidebar: 20 22 25;
    --color-navbar: 25 27 30;
    --color-content: 28 30 33;
    --color-fg: 235 235 235;
    --color-muted: 160 165 170;
    --color-heading: 245 245 245;
    --color-primary: 96 165 250;
    --color-primary-hover: 125 179 251;
    --color-primary-active: 147 197 253;
    --color-secondary: 45 55 72;
    --color-secondary-hover: 56 68 89;
    --color-selected: 26 38 63;
    --color-stroke: 64 74 90;
    --color-success: 74 222 158;
}
